export(
branchmap,  
colors2data,
draw.levset,  
draw.pcf,     
excmas,      
exmap,      
findbnodes, 
hgrid,
leafsfirst,  
leafsfirst.adagrid,  
locofmax,    
lstseq.kern, 
modecent,     
modegraph,     
paracoor,     
pcf.func,
pcf.kern,     
plotbary,       
plotbranchmap,  
plotexmap,        
plotmodet,  
plottree,   
plotvolu2d,   
plotvolu,   
profgene,   
profhist,     
profkern,
prunemodes,
scaletable,
shape2d,
sim.data,
slicing,
stseq,
treedisc,
tree.segme,
#
etais,
colorsofdata,
kernesti.dens,
blokitus,
evanor,
fs.calc.parti,
proftree,
moodilkm
)

useDynLib(denpro)


