export(
branchmap,    
draw.levset,  
draw.pcf,     
excmas,      
exmap,       
hgrid,
leafsfirst,  
locofmax,    
lstseq.kern, 
modecent,     
modegraph,     
paracoor,     
pcf.func,
pcf.kern,     
plotbary,       
plotbranchmap,  
plotexmap,        
plotmodet,  
plottree,   
plotvolu2d,   
plotvolu,   
profgene,   
profhist,     
profkern,
prunemodes,
scaletable,
shape2d,
sim.data,
slicing,
stseq,
treedisc,
tree.segme
)

useDynLib(denpro)


